{% extends "SickListsBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
{% endblock %}

{% block leftmenu %}
<h1>SickLists</h1>
{{ render(controller('SickListsBundle:Project:index')) }}
<a href="">Add Project</a>
{% endblock %}

{% block content %}
<header>
	{{ form(form, {'action': path('sick_lists_postitem')}) }}
</header>
<article>
	<ul class="items">
	{% for item in items %}
		<li class="task-item">
		{{ loop.index }}: {{ item.text }}
		</li>
	{% endfor %}
	</ul>
</article>
{% endblock %}
