{% extends "SickListsBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
{% endblock %}

{% block leftmenu %}
<div id="sl-logo">
	<h1>SickLists</h1>
</div>
{{ render(controller('SickListsBundle:Project:index', {
	'project_id': project_id|default(1)
})) }}
{% endblock %}

{% block content %}
<header>
	{{ form(form, {'action': path('sick_lists_add_task', {'id': project_id|default(1)}) }) }}
</header>
<article>
	<ul class="items">
	{% for item in items %}
		<li class="task-item">
		{{ loop.index }}: {{ item.text }}
		</li>
	{% endfor %}
	</ul>
</article>
{% endblock %}
{% block javascripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{ asset('bundles/sicklists/js/projects.js') }}"></script>
{% endblock %}
